article, h1{
	padding-left: 5vw;
	padding-right: 5vw;
	

}


img{
	height: 20rem;
}

.Txt-Img {
	display: flex;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

	text-align: justify; 
	/*text-justify: inter-word;*/
}

strong{
	font-size: 60px;
	color: red;
	background-color: yellow;
}